.tips {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  user-select: none;
  color: white;

  &__item {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 0.875rem;
    margin-bottom: 5px;
    @media (min-height: 600px) {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
    span {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 24px;
      border-radius: 5px;
      background-color: rgba(0, 0, 0, 0.6);
    }
  }
}
