@import './base.scss';

.info-panel {
  position: absolute;
  display: flex;
  color: white;
  gap: 20px;
  top: 20px;
  right: 20px;
  user-select: none;

  @media (max-width: 799px) {
    gap: 15px;
  }

  &__money,
  &__server {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    height: 37px;
    overflow: hidden;
    &-icon {
      position: relative;
      padding: 3px 0 3px 5px;
      border: 2px solid var(--grey);
      border-right: none;
      background-color: white;
      svg {
        position: relative;
        z-index: 1;
      }
      &:after {
        content: '';
        position: absolute;
        top: -2px;
        right: -10px;
        width: 15px;
        height: calc(100% + 4px);
        background-color: white;
        border: 2px solid var(--grey);
        border-left: none;
        transform: skewX(12deg);
      }
    }
    &-text {
      font-size: 1.125rem;
      padding: 10px;
      background-color: var(--grey);
      white-space: nowrap;
      position: relative;
      span {
        position: relative;
        z-index: 1;
      }
      &:before {
        content: '';
        position: absolute;
        top: -2px;
        left: -5px;
        width: 15px;
        height: calc(100% + 4px);
        background-color: white;
        background-color: var(--grey);
        transform: skewX(12deg);
      }
    }
  }
}

.tips {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  user-select: none;
  color: white;

  &__item {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 0.875rem;
    margin-bottom: 5px;
    @media (min-height: 600px) {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
    span {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 24px;
      border-radius: 5px;
      background-color: rgba(0, 0, 0, 0.6);
    }
  }
}

.hud {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 255px;
  height: 175px;
  user-select: none;
  border: 5px solid var(--grey);
  border-radius: 5px;
  z-index: 2;

  @media (max-width: 1023px) {
    border-width: 3px;
    width: 230px;
    height: 160px;
  }

  &__map {
    opacity: 0.8;
    overflow: hidden;
    height: calc(100% - 12px);
    width: 100%;
  }

  &__info {
    position: absolute;
    top: 0;
    right: -130px;
    color: white;
    line-height: 1.4;
    font-style: italic;

    div {
      span,
      time {
        font-size: 0.875rem;
        opacity: 0.7;
      }
    }
  }

  &__info-time {
    margin-top: 6px;
  }

  &__progress-lines {
    display: flex;
    background-color: var(--grey);
    gap: 5px;

    div {
      width: 120px;
      height: 12px;
      border-top: 3px solid var(--grey);
      overflow: hidden;
      position: relative;
      span {
        height: 100%;
        display: block;
      }
    }
  }

  &__progress-health {
    background-color: #799151;
    span {
      background-color: #a7c96c;
      width: 32%;
    }

    &.low {
      background-color: #7e221d;
      span {
        background-color: #b42829;
      }
    }
  }

  &__progress-armor {
    background-color: #28566e;
    span {
      background-color: #3784ad;
      width: 72%;
    }
  }
}
